.advantages {
    color: $white-color;
    background: linear-gradient(90deg, #E88597 7.29%, rgba(232, 133, 151, 0.8) 43.88%, rgba(255, 255, 255, 0) 62%), url("../media/advantages-bg.png") no-repeat bottom;
    background-size: cover;

    @media(min-width: $tablet-breakpoint) and (max-width: 1500px) {
        padding-bottom: 0;
        background-color: $primary-color;
        background-size: contain;
    }

    @media(min-width: 1500px) {
        .advantages__image {
            display: none;
        }
    }

    @media(max-width: $tablet-breakpoint) {
        background: $primary-color;
        padding-bottom: 0;
    }


    &__title {
        margin-bottom: 5 * $base-space;

        @media(max-width: $tablet-breakpoint) {
            margin-bottom: 32px;
        }
    }
    &-list {
        list-style-position: inside;
        padding: 0;
    }
}
