.footer {
    padding: 7 * $base-space 32px;
    background: $black-color;
    color: #fff;

     @media(max-width: $tablet-breakpoint)  {
        padding: 32px 0;
     }

    .container {
        justify-content: space-between;

        @media (max-width: $mobile-breakpoint) {
            flex-flow: row wrap;
        }
        @media (max-width: $mobile-small-breakpoint) {
            flex-flow: column;
        }
    }

    &-column {
        max-width: 330px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;

        &:last-child {
            justify-content: flex-start;
        }
    }
    
    
    img {
        height: 40px;
    }

    &__title {
        color: $primary-color;
    }

    &-desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 52px;
    }

}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 12px;
    }
}