.hero {
    height: calc(100vh - $header-height);
    position: relative;
    margin-top: $header-height;

     @media(max-width: $tablet-breakpoint)  {
        margin-top: 56px;
        height: calc(100vh - 112px);
     }

    &-wrapper {
        height: 100%;
    }

    &-video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .container {
        position: relative;
        top: -100%;
    }

    .mute-button-container {
        @media only screen and (max-width: 1600px) {
            margin: 0 -18px;
        }
    }
    .mute-button {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 56px;

        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 30px;
            background: #fff;
            opacity: 0;
            rotate: 30deg;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 38%;
            transition: opacity 0.15s ease-out;
        }

        &.volume-up::after {
            opacity: 1;
        }

        @media (max-width: $tablet-breakpoint) {
            top: 16px;
            max-width: 40px;

            &::after {
                height: 18px;
            }
        }
    }
}