.hero {
    height: calc(100vh - $header-height);
    position: relative;
    margin-top: $header-height;

     @media(max-width: $tablet-breakpoint)  {
        margin-top: 56px;
        height: calc(100vh - 112px);
     }

    &-wrapper {
        height: 100%;
    }

    &-video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .container {
        position: relative;
        top: -100%;
    }

    .mute-button {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 100px;

        &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 0;
            background: #fff;
            rotate: 30deg;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 38%;
            transition: height, 0.15s ease-out;
        }

        &.volume-up::after {
            height: 30px;
        }
    }
}