.what-is {
    color: $white-color;
    padding: 96px 0;
    position: relative;
    background: radial-gradient(223.48% 152.09% at -6.41% -10.26%, #FBC5C9 0%, #E88597 44.27%, #894B52 100%);

    @media(max-width: $tablet-breakpoint) {
        background: radial-gradient(247.20% 104.88% at 5.14% 100.00%, #FBC5C9 0%, #E88597 45.96%, #894B52 100%);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../media/what-is-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left bottom;
        opacity: 0.1;

         @media(max-width: $tablet-breakpoint) {
            display: none;
        }
    }
        

    @media(max-width: $tablet-breakpoint) {
            padding: 32px 0;
    }


    .container {
        gap: 10px;
    }

    &__image {
        width: 50%;
        padding: 20px;
        position: relative;
        

        img {
            position: absolute;
            top: -59%;
            max-width: 150%;
            right: -27%;

            @media(max-width: 1440px) {
                top: -23%;
                max-width: 140%;
                right: -25%;
            }
            @media(max-width: 1340px) {
                top: -10%;
            }
            @media(max-width: 1280px) {
                top: -1%;
            }
            @media(max-width: 1140px) {
                top: 8%;
            }
        }
        .what-is__image-title {
            position: absolute;
            top: 86%;
            left: 50%;
            transform: translateX(-50%);

            &::before {
                content: '';
                background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="227" height="19" viewBox="0 0 227 19" fill="none"><path d="M1 0.432847V18.1796H226.069V0" stroke="white"/></svg>') no-repeat;
                background-size: contain;
                position: absolute;
                top: -100%;
                left: -50%;
                width: 227px;
                height: 19px;
            }

            @media(max-width: 1440px) {

            }
        }

        @media(max-width: $tablet-breakpoint) {
            width: 100%;
            order: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -15vh;

            img {
                position: relative;
                top: 0;
                right: auto;
                left: auto;
            }

            .what-is__image-title {
                top: 70%;
                left: 46%;

                &::before {
                    width: 140px;
                    left: -30%;
                    top: -60%;
                }
            }
        }

        @media(max-width: 950px) {
            .what-is__image-title {
                top: 60%;
            }
        }

        @media(max-width: 870px) {
            .what-is__image-title {
                top: 55%;
            }
        }
        @media(max-width: 870px) {
            .what-is__image-title {
                top: 50%;
            }
        }

        @media(max-width: $mobile-breakpoint) {
            img {
                max-width: 100%;
                margin-top: -10%;
                margin-bottom: -28%;
            }
            .what-is__image-title {
                top: 83%;

                &::before {
                    width: 100px;
                    left: -20%;
                }
            }
        }

        @media(max-width: 600px) {
            .what-is__image-title {
                top: 93%;
            }
        }

        @media(max-width: $mobile-small-breakpoint) {
            img {
                max-width: 140%;
                margin-top: -10%;
                margin-bottom: -47%;
            }
        }
    }

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        box-sizing: border-box;
        padding-right: 16px;

        @media(max-width: $tablet-breakpoint) {
            gap: 30px;
            width: 100%;
        }
    }

}