//colors
$primary-color: #E88597;
$black-color: #2F2F33;
$white-color: #fff;

//sizes
$base-space: 8px;

$item-gap: 56px;
$header-fs: 18px;
$header-height: 100px;

//media
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 768px;
$mobile-small-breakpoint: 500px;

