<footer class="footer">
    <div class="container">
        <div class="footer-column">
            <a href="#header" class="footer-logo">
                <img src="media/logo.svg" alt="exoxe logo">
            </a>
            <div class="footer-desc">
                ©ТОВ “ТД “EMET” 2023. 
                Ексклюзивний дистриб'ютор EXOXETM в Україні.
                Усі права захищені.
                Передрук, дублювання та цитування матеріалів заборонені (або з дозволу правовласника).
            </div>
        </div>
        <div class="footer-column">
            <div class="footer__title">
                EXOXE™
            </div>
            <a href="#about" class="ui_link">Про екзосоми</a>
            <a href="#unique" class="ui_link">Унікальність</a>
            <a href="#flacons" class="ui_link">Склад</a>
            <a href="#protocol" class="ui_link">Протокол</a>
        </div>
        <div class="footer-column">
            <a href="#protocol" class="ui_link">Майстер-клас</a>
            <a href="#order" class="ui_link">Замовити</a>
            <a href="#contacts" class="ui_link">Контакти</a>
            <a href="#" class="ui_link">Політика конфіденційності</a>
        </div>
        <div class="footer-column">
           @@include('../contacts.html')
        </div>
    </div>
</footer>