<li class="header-menu__item scroll-link ui_link"><a href="#about">Про екзосоми</a></li>
<li class="header-menu__item scroll-link ui_link"><a href="#unique">Унікальність</a></li>
<li class="header-menu__item scroll-link ui_link"><a href="#flacons">Склад</a></li>
<li class="header-menu__item scroll-link ui_link"><a href="#protocol">Протокол</a></li>
<li class="header-menu__item scroll-link ui_link"><a href="#order">Замовити</a></li>
<li class="header-menu__item scroll-link ui_link"><a href="#contacts">Контакти</a></li>