<li class="header-menu__item scroll-link ui_link" data-scroll=".what-is__content"><a href="#about">Про екзосоми</a></li>
<li class="header-menu__item scroll-link ui_link" data-scroll=".unique"><a href="#unique">Унікальність</a></li>
<li class="header-menu__item scroll-link ui_link" data-scroll=".technologie"><a href="#flacons">Склад</a></li>
<li class="header-menu__item scroll-link ui_link" data-scroll=".protocol"><a href="#protocol">Протокол</a></li>
<li class="header-menu__item scroll-link ui_link" data-scroll=".order"><a href="#order">Замовити</a></li>
<li class="header-menu__item scroll-link ui_link" data-scroll=".order-form"><a href="#contacts">Контакти</a></li>