<section id="unique" class="advantages ui_section">
    <div class="container">
       <div class="col-6">
            <h2 class="advantages__title ui_h2 animation-block">
                В ЧОМУ <br/> УНІКАЛЬНІСТЬ <br/> EXOXE™? 
            </h2>
            <ul class="advantages-list animation-block">
                <li class="advantages-list__item">Доступні та безпечні</li>
                <li class="advantages-list__item">Максимально насичені біоактивними молекулами</li>
                <li class="advantages-list__item">Поліпшують циркуляцію крові, формують нові судини</li>
                <li class="advantages-list__item">Прискорюють проліферацію та рух фібробластів в шкірі</li>
                <li class="advantages-list__item">Мають посилений антиоксидантний ефект</li>
                <li class="advantages-list__item">Мають високий рівень інсуліноподібного фактора росту</li>
                <li class="advantages-list__item">Мають меншу імуногенність (в порівнянні з іншими екзосомами)</li>
                <li class="advantages-list__item">Не викликають алергічних реакцій</li>
                <li class="advantages-list__item">Не викликають онкологію</li>
                <li class="advantages-list__item">Запобігають виникненню етичних суперечливих питань</li>
            </ul>
        </div>
    </div>
    <div class="advantages__image hidden-desktop animation-block">
        <img src="media/advantages-bg.png" alt="advantages">
    </div>
</section>