<section class="hero">
  <div class="hero-wrapper">
    <video class="hero-video hidden-tablet" autoplay loop muted poster playsinline webkit-playinginline>
      <source src="media/video/hero-video-desktop.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <video class="hero-video hidden-desktop" autoplay loop muted poster playsinline webkit-playinginline>
      <source src="media/video/hero-video-mobile.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="container">
    <button class="mute-button">
        <img src="media/icons/volume-up.svg" alt="Volume Up"> 
    </button>
  </div>
</section>