<section class="ui_section order" id="order">
    <div class="container">
        <div class="col-6">
            <img src="media/order-img.png" alt="order-exoxe">
        </div>
        <div class="col-6">
            <h2 class="ui_title order__title">
                Замовити EXOXE™:
            </h2>
            <div class="order-content">
                <b class="order-content__title">
                    Склад:
                </b>
                <ul class="order-content__list">
                    <li>
                        Скляний флакон ліофілізованого порошку чистих екзосом з амніотичної рідини людини (6 млрд.) – 50 мг
                    </li>
                    <li>
                       Скляний флакон стерильного розчину гіалуронової кислоти – 5 мл
                    </li>
                </ul>
                <a href="#" class="ui_button" target="_blank"><span>Замовити</span></a> 
            </div>
        </div>
    </div>
</section>