<section class="ui_section protocol" id="protocol">
    <div class="container">
        <div class="accordion">
            <div class="accordion-item">
                <input type="checkbox" id="section1" class="accordion-input">
                <label for="section1" class="accordion-header ui_h3">
                    <span class="accordion-arrow"></span> Механізм дії
                </label>
                <div class="accordion-content">
                    <ul class="accordion-content-list">
                        <li>Інгібіція мРНК запальних цитокинів (IgE, IgE, IL-4,31,23, TNF-a, IFN-r)</li>
                        <li>Інгібіція еластази та колагенази</li>
                        <li>Активація продукції колагену та еластину (сигнальний шлях TGF- β, транспорт COL1A1 mRNA у клітини)</li>
                        <li>Покращення циркуляції крові шляхом формування нових судин (VEGF)</li>
                        <li>Ремоделювання позаклітинного матриксу (експресія ферменту LOXL2 сприяє «зшиванню» колагену та еластину, дефіцит цього ферменту викликає слабкість сполучної тканини)</li>
                        <li>Інгібіція меланогенезу (інгібіція факторів меланогенезу -Tir, Tyrp1, Mitf, Dct)</li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <input type="checkbox" id="section2" class="accordion-input">
                <label for="section2" class="accordion-header ui_h3">
                    <span class="accordion-arrow"></span> Показання
                </label>
                <div class="accordion-content">
                    <ul class="accordion-content-list">
                        <li>Інгібіція мРНК запальних цитокинів (IgE, IgE, IL-4,31,23, TNF-a, IFN-r)</li>
                        <li>Інгібіція еластази та колагенази</li>
                        <li>Активація продукції колагену та еластину (сигнальний шлях TGF- β, транспорт COL1A1 mRNA у клітини)</li>
                        <li>Покращення циркуляції крові шляхом формування нових судин (VEGF)</li>
                        <li>Ремоделювання позаклітинного матриксу (експресія ферменту LOXL2 сприяє «зшиванню» колагену та еластину, дефіцит цього ферменту викликає слабкість сполучної тканини)</li>
                        <li>Інгібіція меланогенезу (інгібіція факторів меланогенезу -Tir, Tyrp1, Mitf, Dct)</li>
                    </ul>

                </div>
            </div>
            <div class="accordion-item">
                <input type="checkbox" id="section3" class="accordion-input">
                <label for="section3" class="accordion-header ui_h3">
                    <span class="accordion-arrow"></span> Протипоказання
                </label>
                <div class="accordion-content">
                    <ul class="accordion-content-list">
                        <li>Інгібіція мРНК запальних цитокинів (IgE, IgE, IL-4,31,23, TNF-a, IFN-r)</li>
                        <li>Інгібіція еластази та колагенази</li>
                        <li>Активація продукції колагену та еластину (сигнальний шлях TGF- β, транспорт COL1A1 mRNA у клітини)</li>
                        <li>Покращення циркуляції крові шляхом формування нових судин (VEGF)</li>
                        <li>Ремоделювання позаклітинного матриксу (експресія ферменту LOXL2 сприяє «зшиванню» колагену та еластину, дефіцит цього ферменту викликає слабкість сполучної тканини)</li>
                        <li>Інгібіція меланогенезу (інгібіція факторів меланогенезу -Tir, Tyrp1, Mitf, Dct)</li>
                    </ul>

                </div>
            </div>
            <div class="accordion-item">
                <input type="checkbox" id="section4" class="accordion-input">
                <label for="section4" class="accordion-header ui_h3">
                    <span class="accordion-arrow"></span> Спосіб використання
                </label>
                <div class="accordion-content">
                    <ul class="accordion-content-list">
                        <li>Інгібіція мРНК запальних цитокинів (IgE, IgE, IL-4,31,23, TNF-a, IFN-r)</li>
                        <li>Інгібіція еластази та колагенази</li>
                        <li>Активація продукції колагену та еластину (сигнальний шлях TGF- β, транспорт COL1A1 mRNA у клітини)</li>
                        <li>Покращення циркуляції крові шляхом формування нових судин (VEGF)</li>
                        <li>Ремоделювання позаклітинного матриксу (експресія ферменту LOXL2 сприяє «зшиванню» колагену та еластину, дефіцит цього ферменту викликає слабкість сполучної тканини)</li>
                        <li>Інгібіція меланогенезу (інгібіція факторів меланогенезу -Tir, Tyrp1, Mitf, Dct)</li>
                    </ul>

                </div>
            </div>
             <div class="accordion-item">
                <input type="checkbox" id="section5" class="accordion-input">
                <label for="section5" class="accordion-header ui_h3">
                    <span class="accordion-arrow"></span> Протокол застосування
                </label>
                <div class="accordion-content">
                    <ul class="accordion-content-list">
                        <li>Інгібіція мРНК запальних цитокинів (IgE, IgE, IL-4,31,23, TNF-a, IFN-r)</li>
                        <li>Інгібіція еластази та колагенази</li>
                        <li>Активація продукції колагену та еластину (сигнальний шлях TGF- β, транспорт COL1A1 mRNA у клітини)</li>
                        <li>Покращення циркуляції крові шляхом формування нових судин (VEGF)</li>
                        <li>Ремоделювання позаклітинного матриксу (експресія ферменту LOXL2 сприяє «зшиванню» колагену та еластину, дефіцит цього ферменту викликає слабкість сполучної тканини)</li>
                        <li>Інгібіція меланогенезу (інгібіція факторів меланогенезу -Tir, Tyrp1, Mitf, Dct)</li>
                    </ul>

                </div>
            </div>
             <div class="accordion-item">
                <input type="checkbox" id="section6" class="accordion-input">
                <label for="section6" class="accordion-header ui_h3">
                    <span class="accordion-arrow"></span> Умови зберігання
                </label>
                <div class="accordion-content">
                    <ul class="accordion-content-list">
                        <li>Інгібіція мРНК запальних цитокинів (IgE, IgE, IL-4,31,23, TNF-a, IFN-r)</li>
                        <li>Інгібіція еластази та колагенази</li>
                        <li>Активація продукції колагену та еластину (сигнальний шлях TGF- β, транспорт COL1A1 mRNA у клітини)</li>
                        <li>Покращення циркуляції крові шляхом формування нових судин (VEGF)</li>
                        <li>Ремоделювання позаклітинного матриксу (експресія ферменту LOXL2 сприяє «зшиванню» колагену та еластину, дефіцит цього ферменту викликає слабкість сполучної тканини)</li>
                        <li>Інгібіція меланогенезу (інгібіція факторів меланогенезу -Tir, Tyrp1, Mitf, Dct)</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="protocol-buttons">
            <a href="#" class="ui_button protocol-button download">
                <svg class="protocol-button__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 14.6667V22.6667L14.6667 20.0001" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.0002 22.6667L9.3335 20" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M29.3332 13.3334V20.0001C29.3332 26.6667 26.6665 29.3334 19.9998 29.3334H11.9998C5.33317 29.3334 2.6665 26.6667 2.6665 20.0001V12.0001C2.6665 5.33341 5.33317 2.66675 11.9998 2.66675H18.6665" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M29.3332 13.3334H23.9998C19.9998 13.3334 18.6665 12.0001 18.6665 8.00008V2.66675L29.3332 13.3334Z" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="protocol-button__text">
                    Завантажити протокол
                </span>
            </a>
            <a href="#" class="ui_button protocol-button download">
                <svg class="protocol-button__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 14.6667V22.6667L14.6667 20.0001" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.0002 22.6667L9.3335 20" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M29.3332 13.3334V20.0001C29.3332 26.6667 26.6665 29.3334 19.9998 29.3334H11.9998C5.33317 29.3334 2.6665 26.6667 2.6665 20.0001V12.0001C2.6665 5.33341 5.33317 2.66675 11.9998 2.66675H18.6665" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M29.3332 13.3334H23.9998C19.9998 13.3334 18.6665 12.0001 18.6665 8.00008V2.66675L29.3332 13.3334Z" stroke="#E88597" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="protocol-button__text">
                    Завантажити буклет
                </span>
            </a>
        </div>
    </div>

</section>

<section class="ui_section results">
    <h2 class="ui_h2 results__title">
        Результат використання EXOXE™:   
    </h2>
    <div class="container results-list">
        <div class="results-col col-6">
            <div class="results-item">
                <div class="results-item__num">1</div>
                <div class="results-item__content">
                    <h4 class="ui_h4 results-item__title">
                        Регенерація тканин
                        <span class="title__line"></span>
                    </h4>
                    <div class="results-item__text">
                        Екзосоми перешкоджають дегенерації, 
                        яка пов’язана зі старінням, підтримують тканини у
                        здоровому стані та викликають потужний синтез колагену
                    </div>
                </div>
            </div>
            <div class="results-item">
                <div class="results-item__num">2</div>
                <div class="results-item__content">
                    <h4 class="ui_h4 results-item__title">
                        Модуляція запалення
                        <span class="title__line"></span>
                    </h4>
                    <div class="results-item__text">
                        Екзосоми можуть подавляти активацію та функцію імунних клітин, знижувати запалення й пошкодження тканин
                    </div>
                </div>
            </div>
            <div class="results-item">
                <div class="results-item__num">3</div>
                <div class="results-item__content">
                    <h4 class="ui_h4 results-item__title">
                        Захист від фотостаріння
                        <span class="title__line"></span>
                    </h4>
                    <div class="results-item__text">
                        Екзосоми перешкоджають дегенерації, 
                        яка пов’язана зі старінням, підтримують тканини у
                        здоровому стані та викликають потужний синтез колагену
                    </div>
                </div>
            </div>
        </div>
        <div class="results-col col-6">
            <div class="results-item">
                <div class="results-item__num">4</div>
                <div class="results-item__content">
                    <h4 class="ui_h4 results-item__title">
                        Антиоксидантний  ефект
                        <span class="title__line"></span>
                    </h4>
                    <div class="results-item__text">
                        Екзосоми знижують рівень активних форм кисню (АФК)
                        та регулюють життєвий цикл клітин, захищаючи їх
                        від пошкоджень та старіння
                    </div>
                </div>
            </div>
            <div class="results-item">
                <div class="results-item__num">5</div>
                <div class="results-item__content">
                    <h4 class="ui_h4 results-item__title">
                        Ангіогенез
                        <span class="title__line"></span>
                    </h4>
                    <div class="results-item__text">
                        Екзосоми сприяють формуванню нових кровоносних судин, що призводить до поліпшення трофіки тканин
                    </div>
                </div>
            </div>
            <div class="results-item">
                <div class="results-item__num">6</div>
                <div class="results-item__content">
                    <h4 class="ui_h4 results-item__title">
                        Регуляція старіння клітин
                        <span class="title__line"></span>
                    </h4>
                    <div class="results-item__text">
                        Екзосоми підтримують клітини в молодому стані та сповільнюють зміни, пов’язані зі старінням
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ui_section master-class">
    <div class="container">
        <div class="col-6">
            <h4 class="master-class__title ui_h4">
                Подивитись майстер-клас <br> по екзосомам EXOXE™
            </h4>
            <div class="master-class__condition">
                *потрібна реєстрация на платформі LMS
            </div>
        </div>
        <div class="col-6">
            <a href="#" class="ui_button" target="_blank">
                <span>Дивитись відео</span>
            </a>
        </div>
    </div>
</section>