<section class="statistic">
    <div class="statistic-list container">
        <div class="statistic-list__item">
            <div class="statistic-number">34</div>
            <div class="statistic-text">країни світу</div>
        </div>
        <div class="separator hidden-tablet"></div>
        <div class="statistic-list__item">
            <div class="statistic-number">26</div>
            <div class="statistic-text">
                патентів на
                технологічні
                процеси
            </div>
        </div>
        <div class="separator hidden-tablet"></div>
        <div class="statistic-list__item">
            <div class="statistic-number">5</div>
            <div class="statistic-text">
                міжнародних
                патентів
            </div>
        </div>
    </div>

</section>