<section class="technologie ui_section" id="flacons">
    <div class="container">
        <div class="technologie__content">
            <h3 class="technologie__title ui_h3 animation-block">Революційна технологія IOE: </h3>
            <div class="technologie__text animation-block">
                Стимулює життєдіяльність мезенхімальних клітин,
                 спонукаючи їх до виділення більшої кількості
                  регенеративних факторів (>70 факторів росту та >1800 пептидів),
                  що дозволяє отримати велику кількість саме чистих екзосом високої
                   якості (з великою кількістю регенеративних факторів).
                    Таким чином, концентровані чисті ліофілізовані екзосоми
                забезпечують комплексний  вплив на шкіру, таргетовано доставляючи
                    біоактивні молекули тим клітинам, яким це потрібно. 
            </div>
        </div>
    </div>
</section>

<section class="marquee hidden-tablet">
   <div class="marquee__content">
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
    </div>
    <div aria-hidden="true" class="marquee__content">
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
        <b>TM Exoxe</b>
        <span>
            ЗМІНЮЄ СТАНДАРТИ
            ЕКЗОСОМ
        </span>
    </div>
</section>

<section class="flacons ui_section">
    <h2 class="flacons__title ui_h2 animation-block" data-order="0">
            СКЛАД ПРЕПАРАТА EXOXE™:
    </h2>
    <div class="container">
        <div class="flacons-item animation-block" data-order="1">
            <div class="flacons__img animation-block" data-order="3">
                <img src="media/flacon-1.png" alt="flacon">
            </div>
            <div class="flacons__content">
                <h4 class="flacons-item__title ui_h4 animation-block" data-order="2">
                ФЛАКОН 1
                </h4>
                <div class="flacon-item__desc animation-block" data-order="3">
                    Порошок ліофілізованих екзосом 
                    (6 млрд.) Pure Exo – 50 мг
                </div>
                <ul class="flacon-item__list animation-block" data-order="4">
                    <li class="flacon-item__list-item">Гідролізат колагену (886,000PPM) – 88.6%</li>
                    <li class="flacon-item__list-item">Колаген (100.000) – 10.0%</li>
                    <li class="flacon-item__list-item">Гіалуронат натрію – 0.9%</li>
                    <li class="flacon-item__list-item">Трегалоза – 0.5%</li>
                </ul>
            </div>
            
        </div>
        <div class="flacon-separator animation-block" data-order="2">
            <img src="media/icons/separator.svg" alt="separator">
        </div>
        <div class="flacons-item animation-block" data-order="2">
            <div class="flacons__img animation-block" data-order="4">
                <img src="media/flacon-2.png" alt="flacon">
            </div>
            <div class="flacons__content">
                <h4 class="flacons-item__title ui_h4 animation-block" data-order="3">
                ФЛАКОН 2
                </h4>
                <div class="flacon-item__desc animation-block" data-order="4">
                    Активатор – 5 мл
                </div>
                <ul class="flacon-item__list animation-block" data-order="5">
                    <li class="flacon-item__list-item">Вода – 99.0% </li>
                    <li class="flacon-item__list-item">Гіалуронат натрія – 1.0%</li>
                </ul>
            </div>
            
        </div>
    </div>

</section>