<section class="unique ui_section">
    <div class="container">
        <div class="unique-content col-6">
            <img src="media/unique-logo.png" alt="exoxe" class="unique-content-logo animation-block">
            <h2 class="unique__title ui_h2 animation-block">
                ЗМІНЮЄ СТАНДАРТИ ЕКЗОСОМ!
            </h2>
            <ul class="unique-list animation-block" role="list">
                <li class="unique-list__item ss">
                    <img src="media/icons/unique/list-icon-1.svg" alt="unique-icon">
                    <span><b>6 млрд</b> чистих екзосом </span>
                </li>
                <li class="unique-list__item">
                    <img src="media/icons/unique/list-icon-2.svg" alt="unique-icon">
                    <span>Eкзосоми з мезенхімальних стовбурових клітин <b>амніотичної рідини</b></span>
                </li>
                <li class="unique-list__item">
                    <img src="media/icons/unique/list-icon-3.svg" alt="unique-icon">
                    <span>Регенерація тканин в <b>2,5 рази</b> швидше</span>
                </li>
                <li class="unique-list__item">
                    <img src="media/icons/unique/list-icon-4.svg" alt="unique-icon">
                    <span>Зберігаються при <b>кімнатній</b> температурі</span>
                </li>
                <li class="unique-list__item">
                    <img src="media/icons/unique/list-icon-5.svg" alt="unique-icon">
                    <span>Унікальна технологія<b>ІОЕ</b></span>
                </li>
            </ul>
        </div>
        <div class="unique-media col-6">
            <div class="unique-media__static animation-block" data-order="0">
                <img src="media/unique-women.png" alt="women">
                <img src="media/unique-exosome.png" alt="women" class="unique-media__animate-image">
            </div>
        </div>
    </div>
</section>