<section class="what-is" id="about" >
    <div class="container">
        <div class="what-is__image animation-block">
            <img src="media/exesomes3.png" class="animated-exosome" alt="exosome">
            <div class="what-is__image-title">
                Exosomes
            </div>
        </div>
        <div class="what-is__content animation-block">
            <h2 class="ui_h2 animation-block">
                ЩО ТАКЕ ЕКЗОСОМИ?
            </h2>
            <p class="animation-block">
                Екзосоми – маленькі мембранні везикули (наночастки діаметром 
                30-200 нм), які є ключовими агентами передачі сигналів між клітинами в організмі людини.
            </p>
            <p class="animation-block">
                Вони містять різні біологічно активні молекули, такі як РНК, протеїни, ліпіди, рецептори, фактори росту, які таргетовано доставляють до клітин-реципієнтів. Таким чином, відбувається регуляція мікрооточення клітин, регенерація та модуляція їх функцій.
            </p>
        </div>
    </div>
</section>